<%- include("partials/header") -%>

<main>
    <article>
        <h1 class="mt-5 border-bottom border-secondary border-2">Hello</h1>

        <p class="lead"><%= homeStartingContent %> </p>

        <% posts.forEach(function (post){ %>
        <p class="h1 border-bottom border-secondary border-2 "><%= post.title %> </p>
        <p class="lead"><%= post.content %> </p>
        <%   }) %>
    </article>
</main>


<%- include("partials/footer") -%>